.base {
  padding: 0;
  margin-top: 24px;

  &:first-child{
    margin-top: 0;

    div:first-child{
      margin-top: 0;
    }
  }
}

.info {
  margin-top: 16px;
  position: relative;
  width: 100%;
  padding-left: 56px;
  font-size: 12px;

  &:first-child{
    margin-top: 0;
  }

  p{
    margin: 0;
  }
}