.lilink li {
    width: 100%;
    display: flex;
    height: 48px;
    position: relative;
    cursor: pointer;
}

.lilink li.submenu-link {
    padding: 12px 24px;
}

.lilink li.link--submenu-close div {
    transform: rotate(180deg);
}

.linkbase {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    margin: auto 0;
}

.iconbase {
    height: 24px;
    width: 24px;
    position: absolute;
}

.iconbase .linkicon {
    background: #757575;
    border-radius: 4px;
    left: 24px;
    top: 12px;
    pointer-events: none;
}

.linkbase link {
    margin: 0;
    padding: 12px 24px 12px 70px;
    width: 100%;
    transition: all 0.3s;
}

.linkbase link:hover {
    background: #efefef;
}

submenu a{
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    margin: auto 0;
    opacity: 0.54;
}

.titleicon .iconbase div{
    right: 16px;
    background: url('~material-design-icons/navigation/svg/production/ic_arrow_drop_down_18px.svg?') no-repeat center;
    opacity: 0.54;
    transition: transform 0.5s;
}

submenu ul{
    padding: 0;
    overflow: hidden;
    margin: 0;
    transition: height 0.5s;
}


