.sidebarUser {
    color: #ffffff;
    margin-top: 24px;
}

.hr {
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.sidebarBase {
    width: 320px;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    background: #ffffff;
    box-shadow: 0 4px 16px rgba(0,0,0,0.24);
    left: 0;
    top: 0;
    z-index: 101;
    transition: all 0.3s;
}

.sidebarBase~div {
    transition: all 0.3s;
}

.sidebarBase.sidebar--hide {
    transform: translateX(-100%);
    box-shadow: none;
}

.sidebarBase.sidebar--hide~div {
    margin-left: 0;
    width: 100vw;
}

.sidebarBase.sidebar--hide~.topbar {
    width: 100%;
}

.sidebarBase::-webkit-scrollbar {
    width: 0px;
}

.sidebarHead {
    width: 100%;
    height: 144px;
    background: #ffa500;
    color: #ffffff;
    position: relative;
}

.sidebarBrand {
    font-size: 20px;
    font-weight: 500;
    padding: 16px 24px;
    margin: 0;
}