.Topbarbase {
  height: 64px;
  width: 100%;
  background: #ffa500;
  position: fixed;
  z-index: 100;
  display: flex;

  h1, h3{
    margin: auto 0;
  }
}

.buttonbase {
  height: 64px;
  width: 64px;
  cursor: pointer;

  .menubutton {
    background: url("~material-design-icons/navigation/svg/production/ic_menu_18px.svg?fill=white")
  }
}

.whitetext {
  color: #ffffff;
  padding-left: 17px;
  font-weight: 500;
}

.rightcontent {
  right: 0;
  position: fixed;
  display: inherit;
}

.routelink {
  color: #ffffff;
  width: 100%;
  transition: all 0.3s;
  display: block;
}