span {
  opacity: 0.54;
}

dl {
  font-size: 14px;
  display: inline-block;
  margin-top: 24px;
  margin-bottom: 0;
}

dl dt{
  width: 200px;
  min-width: 200px;
}

dl dd{
  padding-left: 24px;
  margin-left: 0;
}