<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <!--Совместимость режимов IE-->
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />

    <title>IKITIDE - облачная среда разработки для студентов</title>

    <!--&lt;!&ndash;Bootstrap&ndash;&gt;-->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">

    <!--Custom style-->
    <link href="css/ikitide.css" rel="stylesheet">
    <link href="css/homepage.css" rel="stylesheet">

    <script type="text/javascript" src="lib/jquery/jquery-3.2.1.min.js"></script>
    <!--<script type="text/javascript" src="lib/jquery/jquery.validate.min.js"></script>-->
    <script type="text/javascript" src="lib/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <!-- Lightbox -->
    <script type="text/javascript" src="lib/lightbox/js/lightbox.min.js"></script>
    <link href="lib/lightbox/css/lightbox.css" rel="stylesheet">

</head>

<body id="home" class="logged-out">
    <header id="header-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div id="navBg">
            <section id="navbar">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <span class="logo-name"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="" target="_blank">Сообщество</a>
                        </li>
                        <li>
                            <a href="">Блог</a>
                        </li>
                        <li class="login">
                            <a class="btnLogin" href="/login" id="signIn">Вход в систему</a>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </header>
    <script type="text/javascript" src="js/homepage.js"></script>
    <div id="homepage" class="homepage">

        <div id="top-header" class="top-header">
            <section id="carrousel">
                <div class="btnleft top-carrousel-btn" id="top-carrousel-left"></div>
                <div class="btnright top-carrousel-btn" id="top-carrousel-right"></div>
                <div id="carrousel-page1" class="page active">
                    <div class="row payoff">
                        <div class="col-md-12">
                            <div>
                                <h1>Интерактивная система проведения лекций</h1>
                                <h2>IKITIDE помогает внести интерактивность в процесс обучения студентов-программистов</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row carrousel">
                        <div class="col-md-12">
                            <div class="screenshots">
                                <div>
                                    <div class="browser-frame" style="width: 900px; height: 814px">
                                        <img class="screenshot" src="images/carusel1.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carrousel-page2" class="page">
                    <div class="row payoff">
                        <div class="col-md-12">
                            <div>
                                <h1>Облачная среда разработки для студентов</h1>
                                <h2>Выполняйте задания преподавателей и отправляйте их на проверку</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row carrousel">
                        <div class="col-md-12">
                            <div class="screenshots">
                                <div>
                                    <div class="browser-frame">
                                        <span class="title"></span>
                                        <img class="screenshot" src="images/carusel2.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="carrousel-page3" class="page">
                    <div class="row payoff">
                        <div class="col-md-12">
                            <div>
                                <h1>Языковые средства которые помогают вам обучаться программированию</h1>
                                <h2>Выполняйте задачи в IKITIDE на популярных языках и получайте за них высшие баллы.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row carrousel">
                        <div class="col-md-12">
                            <div class="screenshots">
                                <div>
                                    <div class="browser-frame" style="width: 900px; height: 814px">
                                        <img class="screenshot" src="images/carusel3.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <a name="workspaces"></a>
        <div class="featurette" id="workspaces">
            <section>
                <div class="row">
                    <h1 class="headline">Рабочее пространство</h1>
                </div>
                <div class="row">
                    <div class="col-md-12 workspaces-divider">
                        <h3>Настройте систему под себя, без лишних трудностей</h3>
                        <p>
                            Просто выберайте свой язык и начинайте разрабатывать.
                            Не нужно тратить ценное время обучения на настройку и обслуживание системы.
                        </p>
                        <div id="workspace-types">
                            <img src="images/c++.png" alt="C or C++" title="Создайте полное рабочее пространство C или C ++ мгновенно" />
                            <img src="images/nodejs.png" alt="Node.js" title="Создайте полную рабочую область Node.js мгновенно" />
                            <img src="images/html5.png" alt="HTML5" title="Создайте полную рабочую область HTML5 мгновенно" />
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <a name="features"></a>
        <div class="featurette" id="features">
            <section>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="headline"><span class="keyword">Потрясающие</span> возможности</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="feature">
                            <a href="images/image1.png" data-lightbox="features" data-title=""><img src="images/image1.png" alt="" title="" /></a>
                            <h3>Языковые инструменты</h3>
                            <h4>Сделайте написание кода легким</h4>
                            <p>
                                Предложения по завершению кода появляются по мере ввода, чтобы помочь вам быстрее скопировать код и избежать опечаток.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <a href="images/image2.png" data-lightbox="features" data-title=""><img src="images/image2.png" alt="" title="" /></a>
                            <h3>Разделение рабочей области</h3>
                            <h4>Настройка пользовательского интерфейса под себя</h4>
                            <p>
                                Просто перетащите любой файл или вкладку «Терминал», чтобы создать столько разделенных видов, сколько захотите, в любом направлении.
                                Фактически, каждая часть пользовательского интерфейса может быть включена / отключена по вашему вкусу.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="feature">
                            <a href="images/image3.png" data-lightbox="features" data-title="Смотрите лекции онлайн"><img src="images/image3.png" alt="Лекция" title="Лекция" /></a>
                            <h3>Контроль</h3>
                            <h4>Контролируйте ход занятия онлайн</h4>
                            <p>
                                Вы можете следить за ходом лекции, на своём устройстве путем расшаривания материала лекций преподавателем
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <!--Footer-->
    <footer>
        <section>
            <div class="row">
                <div class="col-sm-4 intro">
                    <a href="/" title="IKITIDE" class="logo-name">IKITIDE</a>
                    <p>
                        Пишите, запускайте, отлаживайте и сдавайте на проверку свой код с помощью нашей облачной среды.
                    </p>
                </div>
                <div class="col-sm-8 menu">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>IKITIDE</h3>
                            <ul>
                                <li><a href="/about" title="About IKITIDE">О нас</a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h3>Начало работы</h3>
                            <ul>
                                <li><a href="/community" title="IKITIDE Community">Сообщество</a></li>
                                <li><a href="/docs" title="IKITIDE Documentation pages">Документация</a></li>
                                <li><a href="/blog" title="IKITIDE Blog">Блог</a></li>
                                <li><a href="/support" title="Get support on IKITIDE">Помощь</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-3 applications">
                            <a id="signUpFooter" class="btn btn-lg sign-up" href="/login" role="button">
                                <span class="text">Регистрация</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-md-12">
                    &copy; 2018 IKITIDE
                </div>
            </div>
        </section>
    </footer>
    <!--Bootstrap JS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

</body>

</html>