<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <!--Совместимость режимов IE-->
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <title>Авторизация</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
        <!--Custom style-->
        <link href="/css/login.css" rel="stylesheet">
    </head>

    <body class="login">

        <div class="form form-signin">
            <ul class="tab-group list-inline">
                <li class="tab active"><a href="#login">Авторизация</a> </li>
                <li class="tab"><a href="#signup">Регистрация</a> </li>
            </ul>

            <div class="tab-content">
                <div id="login">
                    <form action="/login" method="post">
                        <p class="text-muted text-center">
                            Введите имя пользователя и пароль
                        </p>
                        <input type="text" placeholder="Логин" class="form-control top" name="login" required autocomplete="on">
                        <input type="password" placeholder="Пароль" class="form-control bottom" name="password" required autocomplete="off">
                        <!--<p class="forgot"><a href="#forgot">Забыли пароль?</a></p>-->
                        <p class="forgot"><a href="/ide">Забыли пароль?</a></p>
                        <button class="btn btn-lg btn-warning btn-block" type="submit">Войти</button>
                    </form>
                </div>

                <div id="signup" class="tab-pane">
                    <form action="/signup" method="post">
                        <p class="text-muted text-center">
                            Заполните следующие поля для того чтобы зарегистрироваться
                        </p>
                        <input type="text" placeholder="Фамилия" class="form-control top validate[required]" name="lastName">
                        <input type="text" placeholder="Имя" class="form-control top validate[required]" name="firstName">
                        <input type="text" placeholder="Отчество" class="form-control top validate[required]" name="firstName">
                        <select size="1" class="form-control top validate[required]" name="role">
                            <option value="Студент">Студент</option>
                            <option value="Преподаватель">Преподаватель</option>
                        </select>
                        <input type="text" placeholder="Логин" class="form-control top validate[required]" name="login">
                        <input type="email" placeholder="E-mail" class="form-control middle validate[custom[email], required]" name="email" >
                        <input type="password" placeholder="Пароль" class="form-control middle validate[required]" name="password" >
                        <input type="password" placeholder="Повторите пароль" class="form-control bottom validate[required]">
                        <button class="btn btn-lg btn-warning btn-block" type="submit">Регистрация</button>
                    </form>
                </div>

                <div id="forgot" class="tab-pane">
                    <form action="/forgot" method="post">
                        <p class="text-muted text-center">Введите свой e-mail</p>
                        <input type="email" placeholder="mail@domain.com" class="form-control">
                        <br>
                        <button class="btn btn-lg btn-danger btn-block" type="submit">Востановить пароль</button>
                    </form>
                </div>

            </div>
        </div>
        <!--JQUERY-->
    <script src="/lib/jquery/jquery-3.2.1.min.js" type="text/javascript"></script>
    <!--Bootstrap -->
    <script src="/lib/bootstrap/js/bootstrap.js"></script>

    <script type="text/javascript" src="/js/login.js"></script>

    </body>
</html>