.login {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../../public/images/header_bg.jpg") repeat #444;
}
.login .form-signin {
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
}
.login .form-signin .form-signin-heading,
.login .form-signin .checkbox {
    margin-bottom: 10px;
}
.login .form-signin .checkbox {
    font-weight: normal;
}
.login .form-signin input[type="text"],
.login .form-signin input[type="password"],
.login .form-signin input[type="email"] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.login .form-signin input[type="text"]:focus,
.login .form-signin input[type="password"]:focus,
.login .form-signin input[type="email"]:focus {
    z-index: 2;
}
.login .form-signin input.top {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.login .form-signin input.middle {
    margin-bottom: -1px;
    border-radius: 0;
}
.login .form-signin input.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #333;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}
a:hover {
     color:#1ab110;
 }

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160,179,176,.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
li a:hover {
     background:#FFA500;
     color:#ffffff;
    text-decoration: none;
 }

.active a {
    background:#ffffff;
    color:#FFA500;
}

.forgot {
    text-align:right;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.content {
    margin: auto;
    text-align: center;
}

.login .card {
    padding: 48px;
    width: 480px;

    .form-group label{
        display: none;
    }

    .form-group input{
        margin-top: 36px;
        width: 100%;
        margin-left: 0;
        text-align: center;
        padding-right: 0;
        font-size: 14px;
    }

    button{
        width: 100%
    }

    &.login-common{
        padding: 0;

        button{
            margin: 0;
            padding: 10px 25px;
        }

        hr{
            margin: 24px 0;
        }
    }

    .react-tabs__tab-panel--selected {
        padding: 16px 36px 36px 36px;
    }

    .dont-remember{
        width: 100%;
        text-align: right;
        padding: 16px 0 48px 0;
    }
}

