.body {
  min-height: 100vh;
  min-width: 960px;
  width: 100%;
}

.P {
  margin: 0;
}

.H1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}
.H2 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.H3 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.graytext {
  opacity: 0.54;
}

.Container {
  margin-left: 320px;
  display: flex;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 320px);
}

.content {
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 12px;
  min-width: 960px;
  width: 960px;

  @media (min-width: 1680px) {
    width: 1200px;
  }
}

.row {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
}

.center {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: auto;
}

.block {
  display: inline-block;
}

.colcontent {
  position: relative;
  min-height: 1px;
  padding-left: 120px;
  padding-right: 25px;

  .col3 {
    width: 25%;
  }

  .col4 {
    width: 33.3333%;
  }

  .col6 {
    width: 50%
  }

  .col8 {
    width: 66.6666%;
  }

  .col9 {
    width: 75%;
  }

  .col10 {
    width: 83.3333%;
  }

  .col12 {
    width: 100%;
  }
}

