.Container {
  margin-left: 320px;
  display: flex;
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  width: calc(100vw - 320px);
}

.content {
  margin: 0 auto;
  margin-top: 80px;
  padding: 0 12px;
  min-width: 960px;
  width: 960px;

  @media (min-width: 1680px) {
    width: 1200px;
  }
}

.row {
  margin-left: -12px;
  margin-right: -12px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 12px;
  padding-right: 12px;

  .col3 {
    width: 25%;
  }

  .col4 {
    width: 33.3333%;
  }

  .col6 {
    width: 50%
  }

  .col8 {
    width: 66.6666%;
  }

  .col9 {
    width: 75%;
  }

  .col10 {
    width: 83.3333%;
  }

  .col12 {
    width: 100%;
  }
}