/* HOMEPAGE -------------------------------------------------- */

/* GLOBAL HOMEPAGE STYLES */

.homepage {
    font-size: 18px;
}

.browser-frame{
    width: 990px;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.46);
    position: relative;
    display: inline-block;
    transition-property: box-shadow;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

/*CARROUSEL*/

.homepage .top-header .carrousel {
    text-align: center;
    z-index: 1000;
}

.homepage .top-header .screenshots {
    position: relative;
    bottom: -300px;
    z-index: 1000;
}

#carrousel .btnleft, #carrousel .btnright{
    background: url("../images/carrousel_buttons.png");
    width: 52px;
    height: 52px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 0;
    margin-left: -600px;
}

#carrousel .btnright{
    background-position: -52px 0;
    margin-left: 550px;
}

.page{
    position: absolute;
    display: none;
    height: 100%;
    width: 1100px;
    bottom: 0;
    overflow: hidden;
}

.page.active{
    display: block;
}

/* TOP HEADER */
.homepage .top-header {
    background-image: url('../images/header_bg.jpg'), url('../images/header_bg_repeat.jpg');
    background-position: left 0, left top;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed, fixed;
    min-height: 750px;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    position: relative;
}

.homepage .top-header .payoff, .homepage .top-header .more {
    position: absolute;
    width: 1100px;
    margin: 100px auto 0 auto;
    z-index: 1;
    text-align: center;
}

.homepage .top-header h1 {
    margin: 31px 0 0 0;
    line-height: 1.2em;
    font-size: 42px;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.homepage .top-header h2 {
    line-height: 1.2em;
    font-size: 21px;
    color: #fff;
    text-align: center;
    padding: 0 240px 10px 240px;
    z-index: 1;
    margin-top: 16px;
}

/*FEATURES*/

.featurette {
    padding: 40px 0 40px 0;
}

.featurette h3 {
    font-family: "HelveticaNeue-Light", "Open Sans Light", "Helvetica", sans-serif;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.featurette .feature h3 {
    margin-top: 25px;
    margin-bottom: 5px;
}

/*WORKSPACES*/

h1.headline {
    text-align: center;
    margin: 10px 0 40px 0;
}

#workspaces {
    text-align: center;
    -webkit-font-smoothing: subpixel-antialiased;
}

#workspaces .col-md-6 {
    padding: 0 40px 0 40px;
}

#workspaces #workspace-types, #workspaces #workspaces-linux-environment {
    margin: 40px 0 0px 0;
}

#workspaces #workspace-types img {
    margin: 0 20px 25px 0;
}

sudoblock {
    border: 0;
    padding: 0 0 0 25px;
    margin: 0;
    background: transparent;
    text-align: left;
    font-size: 22px;
    line-height: 38px;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    color: rgb(167, 167, 167);
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    position: relative;
}

.sudoblock:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 30%, rgba(255, 255, 255, 0.87) 100%);
}

.sudoblock span{
    color: #333;
}

.sudoblock .cursor{
    display: inline-block;
    width: 11px;
    height: 23px;
    background: #333;
    margin: -4px 0 0 1px;
    vertical-align: middle;
}

/*FEATURES*/
#features {
    background: url("../images/featuresbg.jpg") no-repeat top left;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 128, 0, 1);
    color: #fff;
    max-height: 924px;
    overflow-y: hidden;
    z-index: 1;
    vertical-align: bottom;
    padding-bottom: 88px;
}

#features h1 {
    color: #fff;
    margin-bottom: 60px;
}

#features .feature {
    transition: box-shadow 0.15s 0.05s;
    border-radius: 5px;
    background: #fff;
    width: 330px;
    margin: 0 auto 25px auto;
    padding: 15px;
    color: #000;
    text-align: center;
    min-height: 412px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.19);
    cursor: pointer;
}

#features .feature img {
    border-radius: 5px 5px 0 0;
    width: 330px;
    margin: -15px 0 0 -15px;
}

#features .feature h4 {
    /* TODO: Should this be a regular Open Sans? */
    font-family: "HelveticaNeue-Medium", "Open Sans Semibold", "Helvetica", sans-serif;
    font-size: 16px;
}

#features .feature p {
    font-family: "HelveticaNeue-Thin", "Open Sans Light", "Helvetica", sans-serif;
    font-size: 16px;
}

#features .feature code {
    background-color: #000;
    color: #fff;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    -webkit-font-smoothing: antialiased;
}

#features .row {
    transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}