/* GLOBAL STYLES -------------------------------------------------- */

body {
    color: #252525;
    font-family: "HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", "Open Sans Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background: #fff;
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 0;
}

div {
    display: block;
}

a, a:active, a:hover {
    color: #1aa6da;
}

h1 {
    font-size: 42px;
    font-weight: 200;
    color: #000;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

p {
    line-height: 1.6;
}

/* SHARED CUSTOM DEFINITIONS-------------------------------------------------- */
section {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
}

button {
    line-height: 48px;
    background-color: #bfe965;
    color: #fff;
    font-size: 20px;
    margin: 5px 0 0 0;
    border: 1px solid #fff;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    padding: 0 20px 0 20px;
}

.keyword {
    font-family: "HelveticaNeue", "Helvetica Neue", "Open Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
}

/* HEADER / NAVIGATIONS-------------------------------------------------- */

.navbar-fixed-top {
    top: auto;
}

/* NAVBAR */

.navbar .navbar-scrolled {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    margin-top: -50px;
    position: relative;
}

.navbar .navbar-header, .navbar .navbar-collapse {
    font-family: "HelveticaNeue-Light", "Open Sans Light", Helvetica, sans-serif;
    padding: 13px 0 10px 0;
}

.navbar-scrolled .navbar-header{
    padding-top: 1px;
}

.navbar .navbar-collapse {
    margin: 0;
    padding: 15px 0 7px 0;
    background: url('../images/header_hr.png') no-repeat bottom center;
}

.navbar-default {
    color: #1f2021;
    font-size: 12px;
    text-align: right;
    text-shadow: 0 1px 0 #48484a;
    border: none;
    min-height: 0;
    background-color: transparent;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar-default .navbar-scrolled {
    background-color: #222;
    height: 50px;

    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;

    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar .navbar-brand {
    background: url("../images/logo.png") no-repeat left 5px;
    margin: 0 ;
    padding: 0;
    height: 45px;
}

.navbar-scrolled .navbar-brand {
    padding: 0;
    height: 45px;
}

.logo-name {
    color: #fff;
    position: relative;
    font-family: BelloScript;
    top: 15px;
    margin: 5px 0 0 73px;
    font-size: 45px;
}
.navbar-scrolled .logo-name {
    font-size: 40px;
    top: 14px;
}

.navbar-default .navbar-collapse {
    color: #fff;
    text-shadow: none;
}


.navbar .navbar-nav {
    float: right;
    top: 15px;
    right: 0;
    margin: 0;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px 35px 0 0;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 14px;
}

/*LOGIN*/

.navbar-default .navbar-nav>li>a.btnLogin {
    white-space: nowrap;
    background-color: transparent;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Open Sans Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    height: 40px;
    line-height: 0px;
    margin: 4px 0 0 0;
    padding: 0 20px 0 20px;
    height: 40px;
    line-height: 38px;
    border: 2px solid #fff;
    border-radius: 5px;
    vertical-align: middle;
}

.navbar-nav>li>a.btnLogin, .navbar-nav>li>a:hover.btnLogin {
    text-decoration: none;
}

/*LOGGED OUT STATE*/

.logged-out .login {
    display: inline-block;
    position: relative;
    margin: 0 25px 0 0;
}



/* FOOTER -------------------------------------------------- */
footer {
    background: #000;
    color: rgba(255,255,255,0.5);
    font-size: 13px;
    letter-spacing: 1px;
    -webkit-font-smoothing: subpixel-antialiased;
    padding: 40px 0 80px 0;
}

footer .intro {
    text-align: left;
    padding: 0 80px 0 0;
}

footer .intro .logo-name {
    top: 0;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 2.5em;
    background: url("../images/logo.png") no-repeat left 5px;
    text-indent: -999px;
    overflow: hidden;
    display: block;
}

footer .menu {
    text-align: left;
    margin-top: 23px;
}

footer .menu h3 {
    font-size: 14px;
    margin: 10px 0 10px 0;
    color: #f1f1f1;
}

footer .menu ul {
    list-style-type: none;
    font-size: 1.0em;
    margin: 0;
    padding: 0;
}

footer .menu ul li {
    font-size: 1.0em;
    margin: 0 0 2px 0;
}

footer .menu ul li a {
    color: rgba(255,255,255,0.4);
}

footer .applications {
    display: table-cell;
    float: none;
    height: 135px;
    vertical-align: middle;
    text-align: center;
}
footer .applications a.sign-up {
    background-color: #FFF;
    color: #000;
    text-transform: uppercase;
    font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", "Open Sans Light", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

footer .applications  a:hover {
    color: #FF8000;
}

footer .copyright, footer .copyright .col-md-12 {
    padding: 10px 0 0 0;
    color: rgba(255,255,255,0.5);
    text-align: left;
}

/* If only the header or footer are shown (e.g. in the Support page) they need a height */
iframe.only-header, iframe.only-footer {
    margin: -60px 0 0 0;
    padding: 0;
    border: none;
    overflow: hidden;
    width: 100%;
    height: 60px;
}
iframe.only-footer {
    height: 325px;
}

/* Smartphones (portrait and landscape) - a few percent ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    footer {
        padding: 20px 0 40px 0;
    }
    footer .row {
        margin: 0;
        /*padding: 0;*/
    }
    footer .intro, footer .menu {
        padding: 0 10px 0 10px;
    }
    footer .col-sm-3 {
        padding: 0;
        margin-bottom: 20px;
    }
    footer .applications {
        height: auto;
    }
    footer .applications a.sign-up {
        color: #000;
    }
    footer .applications  a:hover {
        color: #bfe965;
    }
    footer .copyright, footer .copyright .col-md-12 {
        padding: 10px 0 10px 5px;
    }
}


