.login {
    padding-top: 40px;
    padding-bottom: 40px;
    background: url("../images/header_bg.jpg") repeat #444;
}
.login .form-signin {
    max-width: 330px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
}
.login .form-signin .form-signin-heading,
.login .form-signin .checkbox {
    margin-bottom: 10px;
}
.login .form-signin .checkbox {
    font-weight: normal;
}
.login .form-signin input[type="text"],
.login .form-signin input[type="password"],
.login .form-signin input[type="email"] {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.login .form-signin input[type="text"]:focus,
.login .form-signin input[type="password"]:focus,
.login .form-signin input[type="email"]:focus {
    z-index: 2;
}
.login .form-signin input.top {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.login .form-signin input.middle {
    margin-bottom: -1px;
    border-radius: 0;
}
.login .form-signin input.bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #333;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}
a:hover {
     color:#1ab110;
 }

li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160,179,176,.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
li a:hover {
     background:#FFA500;
     color:#ffffff;
    text-decoration: none;
 }

.active a {
    background:#ffffff;
    color:#FFA500;
}

.forgot {
    text-align:right;
}

